.layout{
  height: auto;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 80px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content{
  height: auto;
  border-radius: 3px;
  width: 100%;
  max-width: var(--max-content-width);
}

@media (min-width: 1024px) {
  .layout {
    padding-top: 80px;
    padding-bottom: 0;
  }
}
