.swiper {
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .swiper {
    border-radius: 12px;
  }
}

.swiper img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain; /* Ensures no stretching and no cutting */
}
